body *{
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: #af9b95;
  padding:0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #e6a20e;
  color: #ffffff;
  /* height: 60px;
  width: 100%;
  top: 0px;
  margin:0;
  z-index:2000;
  position: fixed; */
}

nav {
  display: flex;
  flex-direction: row;
}

main{
  padding: 10px;
}

.hamburger{
  visibility: hidden;
}

.siteHeader__section {
    display: flex;
    align-items: center;
  }

.siteHeader__item {
    padding: 5px 15px;
    /* font-size: 12px; */
}

.nav_menu{
  display: flex;
  flex-direction: row;
  /*mobile: flex-direction: column; */
}

.nav_item{
  padding-right: 10px;
}

 .review__section {
    display: flex;
    align-items: center;
    /*mobile: flex-direction: column; */
  }

.review__item {
      padding: 5px 15px;
      font-style: bold;
      /* font-size: 12px; */
}


#loginForm #newUserForm{
  /* display: inline-block;
  text-align: right; */
}
.editReview, .deleteReview{
  font-size: 10px;
}
#userNameInput, #userPasswordInput, #venueSearch, #venueInput{
  margin-bottom: 10px;
}
#userNameInput{
  margin-left: 14px;
}
#venueSearch, #userPasswordInput, #reviewInput{
  margin-left: 18px;
}
#submit{
  margin-left: 96px;
}
#login, #formButtons{
  display: inline-block;
  margin-top:10px;
  left:15%;
}
#instructions{
  color: red;
  margin-top: 20px;
}

ul{
  list-style-type: none;
  padding-left: 0;
}


h1{
  font-size: 24px;
}

h3{
  font-size: 18px;
}

h4{
  font-size: 16px;
}

/* a:visited {
  color: #7a3f2d;
} */

header.a:hover {
    color: #af9b95;
    text-decoration: none;
}

a:hover {
    color: #7a3f2d;
    text-decoration: none;
}

/* a:active {
    color: black;
} */

@media only screen and (max-width: 640px) {

  main{
    /* top: 70px;
    width: 80%; */
  }

  nav {
    display: flex;
    flex-direction: column;
  }

.hamburger{
    visibility:visible;
  }

  .siteHeader__item {
      display: flex;
      flex-direction: column;
    }

  h1{

  }
  h3{
    font-size: 18px;
  }
