body *{
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: #af9b95;
  padding:0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

.container{
  padding: 0;
  margin: 0;
}

/* header{ */
.navbar{
  background-color: #e6a20e;
  height: 60px;
  width: 100%;
  top: 0px;
  margin:0;
  position: fixed;
}

main{
  top: 100px;
  width:70%;
  text-align: left;
  position: relative;
  margin-left:auto;
  margin-right:auto;
}

nav{
    position: relative;
    margin-left:auto;
    margin-right:auto;
    padding:0;
    color: white;
  }

.navbar-light .navbar-brand{
  color:white;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* can't get hambuger navbar to be on right side */

.collapse{
  /* position: relative; */
  /* top: 5%;
  right: 400px;
  width: 20%;
  padding-left: 5%; */
  background-color: #e6a20e;
  text-align: left;
}


.editReview, .deleteReview{
  font-size: 10px;
}
#userNameInput, #userPasswordInput, #venueSearch, #venueInput{
  margin-bottom: 10px;
}
#userNameInput{
  margin-left: 14px;
}
#venueSearch, #userPasswordInput, #reviewInput{
  margin-left: 18px;
}
#submit{
  margin-left: 96px;
}
#login, #formButtons{
  display: inline-block;
  margin-top:10px;
  left:15%;
}
#instructions{
  color: red;
  margin-top: 20px;
}

ul{
  list-style-type: none;
  padding-left: 0;
}


h1{
  font-size: 24px;
  position: absolute;
  display: inline-block;
  left: 15%;
}

h3{
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 8px;
}

h4{
  font-size: 16px;
}

::placeholder{
  color: grey;
  opacity:  0.4;
}

#title a{
  color: white;
}

#navbarNav a{
  color: white;
}

a:visited {
  color: #7a3f2d;
}

#title a:hover, #navbarNav a:hover {
    color: #7a3f2d;
    text-decoration: none;
}

.reviewIMG {
  width: 100%;
  height: 100%;
}

/* a:hover {
    color: #7a3f2d;
    text-decoration: none;
} */

 /* a:active {
    color: black;
} */

@media only screen and (max-width: 640px) {

  main{
    top: 70px;
    width: 80%;
  }
  nav {
    /* left: 10%; */
    top: 40px;
    width:100%;
  }
  h1{
    left: 10%;
  }
  h3{
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 2px;
  }
