body *{
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: #af9b95;
  padding:0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

header{
  background-color: #e6a20e;
}

.headerContainer{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
  color: #ffffff;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: #e6a20e;
}

main {
  padding-top: 40px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.siteHeader__section {
    display: flex;
    align-items: center;
  }

.siteHeader__item {
  display: flex;
  /* flex-direction: row;
  padding: 5px 15px; */
    /* font-size: 12px; */
}

.nav_menu{
  display: block;

}

.nav_item{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 15px;
}

.review__section {
    width: auto;
    height: 150px;
    display:inline;
    /*mobile: flex-direction: column; */
}
img.review_image{

}

img.centered-and-cropped {
  object-fit: cover;
  width: 200px;
  height:200px;
  border-radius:10%;
}
.review__image {
  width: 200px;
}

.review__text{
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    width: 70%;
    float: right;

}
.review__item{

}

.hamburger{
  visibility: hidden;
}

.navDropDown{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

#loginForm #newUserForm{
  /* display: inline-block;
  text-align: right; */
}
.editReview, .deleteReview{
  font-size: 10px;
}
#userNameInput, #userPasswordInput, #venueSearch, #venueInput{
  margin-bottom: 10px;
}
#userNameInput{
  margin-left: 14px;
}
#venueSearch, #userPasswordInput, #reviewInput{
  margin-left: 18px;
}
#submit{
  margin-left: 96px;
}
#login, #formButtons{
  display: inline-block;
  margin-top:10px;
  left:15%;
}
#instructions{
  color: red;
  margin-top: 20px;
}

ul{
  list-style-type: none;
  padding-left: 0;
}
li{
  padding-bottom: 5px;
}

h1{
  font-size: 24px;
}

h3{
  font-size: 18px;
  margin:0;
}

h4{
  font-size: 16px;
}

/* a:visited {
  color: #7a3f2d;
} */

header.a:hover {
    color: #af9b95;
    text-decoration: none;
}

a:hover {
    color: #7a3f2d;
    text-decoration: none;
}

/* a:active {
    color: black;
} */

@media only screen and (max-width: 640px) {

  .headerContainer{
      width:90%;
      margin-left:auto;
      margin-right: auto;
  }

  main{
      width:90%;
      margin-left:auto;
      margin-right: auto;
      /* top: 70px;
      width: 80%; */
  }

  nav {
  }

.nav_item{
    display: flex;
    width:100px;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 0 0 0;
    order: 10;
  }
.hamburger{
    visibility:visible;
    order:1;
  }
.siteHeader__section{
  display: flex;
  flex-direction: column;
  flex-flow: flex-start;
  /* padding:5px 15px; */
}
.siteHeader__item {
      display: flex;
      flex-direction: column;
}

img.review_image{
  height: 100px;
}

img.centered-and-cropped {
  width: 100px;
  height:100px;
}
h1{

}
  h3{
    font-size: 18px;
  }
